.Sidebars{
    display: flex;
    background-color: white;
    height: 86vh;
     border-radius: 15px;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    transition: all 300ms ease;
   
   
   
}


.menuItemsl{
    display: flex;
    align-items: center;
    
    gap: 1rem;
    height: 3.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 25px;
    border-radius: 0.7rem;
}
.menuItemsl:hover{
    cursor: pointer;
    
}
.active{
    background: var(--activeItem);
    margin-left: 0;
}
.active::before{
    content: '';
    width: 8px;
    height: 100%;
    background: var(--darkactive);
    margin-right: calc(1rem- 8px);
}
.menu .menuItemsl:last-child{
    position: absolute;
    bottom: 2.3rem;
}

.menul{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: black;
    

}

@media screen and (max-width: 1200px) {
    .Sidebars{
        width: 55%;
    }
    span{
     display: none;
   }
   .logo{
     display: none;
   }
 }

 
@media screen and (max-width: 768px) {
    .Sidebars{
      position: fixed;
      z-index: 9;
     
      width: 12%;
      padding-right: 1rem;
      height: 100%;
    }
    .menuItemsl>span{
      display: block;
    }
    
    .menul .menuItemsl:last-child {
      position: relative;
     
    }
    .menul .menuItemsl:last-child span{
        display: none;
      }
  }